<form method="post" action="{{ path('app_location_delete', {'idLocation': location.idLocation}) }}" onsubmit="return confirm('Are you sure you want to cancel your reservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ location.idLocation) }}">
    <button class="btn btn-outline-primary border-2">Cancel your reservation</button>
</form>
